<template>
<div class="header">
  <div id="nav">
      <router-link to="/">Home</router-link> |
      <router-link to="/about">About</router-link>
    </div>

</div>
</template>

<script>
export default {
    name:'Header'

}
</script>

<style scoped>
.header {
    background:#333;
    color:#fff;
    text-align:center;
    padding: 10px;
    height: 30px;

}
.header a{
    color:#fff;
    padding-right:5px;
}
</style>