<template>
  <div class="holder">
    <!-- <Header/> -->
    <AddTodo v-on:add-todo="AddTodo"/>
    <Todos v-on:del-todo="deleteTodo" :todos="todos"/>
  </div>
</template>

<script>
import axios from 'axios';
import Todos from '../components/Todos';
// import Header from '../components/layout/Header';
import AddTodo from '../components/AddTodo';
export default {
  name: 'App',
  components:{
    Todos,
    // Header,
    AddTodo
    
  },
  data(){
    return {
      todos:[]
    }
  },
  created(){
      axios.get('https://jsonplaceholder.typicode.com/todos?_limit=5')
      .then(res=>{this.todos = res.data})
      .catch(err=> this.todos = err)
    },
  methods:{
    deleteTodo(id ){
      // this.todos = this.todos.filter(todo=>todo.id !== id)
      axios.delete(`https://jsonplaceholder.typicode.com/todos/${id}`)
      .then(this.todos = this.todos.filter(todo=>todo.id !== id))
      .catch(err=>console.log(err))
    },
    AddTodo(newTodo){
      const {title,completed} = newTodo;
      axios.post('https://jsonplaceholder.typicode.com/todos',{title,completed})
      .then(res=> this.todos = [...this.todos, res.data])
      .catch(err=>console.log(err))
      // this.todos =  [...this.todos,newTodo]
    },
    

  }
}
</script>

<style>


</style>
