<template> 
 <div id="app">
    <Header/>
    <router-view/>
  </div>
</template>
<script>
import Header from './components/layout/Header'
export default {
  name:'app',
  components:{
      Header
  }
}
</script>
<style>
*{
  box-sizing:boder-box;
  margin:0;
  padding:0;
}
body{
  font-family:Arial, Helvetica, sans-serif;
  line-height: 1.4;
}
.holder{
  width:70%;
  margin-left:200px;
}
.btn{
  display:inline-block;
  border:none;
  background:#fff;
  padding:7px 20px;
  cursor: pointer;
}
.btn:hover{
  background:#666;
}

#nav {
  padding: 10px;
}

#nav a {
  font-weight: bold;
  color: #fff;
}

#nav a.router-link-exact-active {
  color: #42b983;
padding:7px 20px;
  cursor: pointer;
}
</style>
